<% layout("../layouts/boilerplate") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>

    <div class="row offset-2">
        <center>
            <h3>Edit listing from here</h3>
            <br>
            <hr>
        </center>
        <form action="/listings/<%=listing._id%>?_method=PUT" method="post">

            <div>
                <label for="" class="form-lable">Title: </label>
                <input type="text" name="listings[title]" value="<%= listing.title %>" class="form-control" id="">
            </div>
            <br>
            <div class="mb-3">
                <div class="card" style="width: 30rem;">
                    <img src="<%=listing.image.url %>" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="mb-3">
                <label for="" class="form-lable">Description: </label><br>
                <textarea class="form-control" name="listings[description]" rows="5" cols="40"
                    id=""><%=listing.description %></textarea>
            </div>
            <div class="mb-3">
                <label class="form-lable">Location:</label>
                <input type="text" class="form-control" name="listings[location]" id="" value="<%= listing.location %>">
            </div>
            <div class="row box">
                <div class="mb-3 col-md-4">
                    <label form-lable>Price:</label>
                    <input type="number" class="form-control" name="listings[price]" value="<%= listing.price %>" id="">
                </div>
                <div class="mb-3 col-md-8">
                    <label form-lable>Country:</label>
                    <input type="text" class="form-control" name="listings[country]" value="<%= listing.country %>">
                </div>
            </div>
            <button type="submit" class="btn btn-primary offset-4">Save</button>

        </form>
    </div>

    <style>

    </style>