<% layout("../layouts/boilerplate") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
    <body>
        <h1>Edit listing from here.</h1>
        <form action="/listings/<%=listing._id%>?_method=PUT" method="post">

            <label for="">Title: </label>
            <input type="text" name="listings[title]" value="<%= listing.title %>" id="">
            <br><br>
            <label for="">Description: </label><br>
            <textarea name="listings[description]" rows="5" cols="40" id=""><%=listing.description %></textarea>
            <!-- <input type="text" name="listings[description]" value="<%= listing.description %>"> -->
            <br>
            <label for="">Image</label>
            <br>
            <img src="<%=listing.image.url %>" alt="image">
            <br>
            <input type="text" name="listings[location]" id="" value="<%= listing.location %>">
            <br>
            <input type="text" name="listings[country]" value="<%= listing.country %>">
            <br>
            <input type="number" name="listings[price]" value="<%= listing.price %>" id="">
            <br><br>
            <button type="submit">Submit</button>

        </form>
        <hr>
        <footer>
            
        </footer>
    </body>