<% layout("../layouts/boilerplate") %>
    <title>View Listing</title>



    <div class="card mb-3 offset-3" id="card">
        <img src="<%=singleList.image.url%>" style="width: 30rem;" class="card-img-top" alt="img">
        <div class="card-body">
            <h5 class="card-title">
                <%= singleList.title %>
            </h5>
            <p class="card-text">
                <%= singleList.description %>
            </p>
            <p class="card-text">
                <b>Location:</b>
                <%= singleList.location %>
            </p>
            <p class="card-text">
                <b>Country:</b>
                <%= singleList.country %>
            </p>
            <p class="card-text"> <b>Price :</b> &#8377;<%= singleList.price.toLocaleString("en-IN") %>
            / night</p>
        </div>
        <div class="btn-family col-md-4 d-flex flex-column flex-md-row">
            <a href="/listings" class="btn btn-info mb-2 mb-md-0">Go Back</a>
            <form action="/listings/<%=singleList._id%>?_method=DELETE" method="post" class="mb-2 mb-md-0">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a href="/listings/<%=singleList._id%>/edit" class="btn btn-secondary">Edit</a>
        </div>

    </div>
    <style>
        #card {
            border: none !important;
        }

        .btn-family {
            display: flex;
        }
    </style>