<% layout("../layout/boilerplate") %>
    <title>View Listing</title>
    <style>
        /* *{
            margin: 0;
            padding: 0;
        } */
        /* img {
            height: 300px;
            width: auto;
        }

        body {
            text-align: center;
        } */
    </style>


    <body>
        <div>
            <h1>Choosen list</h1>
            <button><a href="/listings">Go Back</a></button>
            <br>
            <h2>
                <%= singleList.title%>
            </h2>
            <p>
                <%= singleList.description %>
            </p>

            <label for="">Image : </label>
            <br>
            <img src="<%=singleList.image.url%>" alt="image">

            <h3>Price : &#8377;<%= singleList.price.toLocaleString("en-IN") %>
            </h3>
            <p>Location : <%= singleList.location %>
            </p>
            <h2>Country : <%= singleList.country %>
            </h2>
            <button><a href="/listings/<%=singleList._id%>/edit">Edit Post</a></button>
            <form action="/listings/<%=singleList._id%>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
        <hr>

    </body>